/* canvas */
.canvas-wrapper {
  position: relative;
  text-align: center;
}

.canvas-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1
}

.canvas-wrapper .cta-wrapper {
  z-index: 1
}

/* text styles */
.justified {
  text-align: justify;
}