html, body {
  font-family: 'Kalam', sans-serif;
  height: 100%
}

/* grid system */
.no-padding {
  padding: 0 !important
}

.no-margin {
  margin: 0 !important
}

.padding-8 {
  padding: 8px !important
}

.float-center {
  float: center !important
}

.card-image.waves-effect {
  overflow: visible !important
}

/* sections */
.section-large {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* additional styles */
.hover-opacity-off:hover {
  opacity: 1 !important
}

.opacity-off {
  opacity: 1 !important
}

.opacity-half {
  opacity: 0.5 !important
}

.opacity-10 {
  opacity: 0.1 !important
}

.opacity-25 {
  opacity: 0.25 !important
}

.opacity-75 {
  opacity: 0.75 !important
}

.opacity-90 {
  opacity: 0.9 !important
}

.transparent-bg {
  background-color: transparent !important;
  background: transparent !important
}

.round-0 {
  border-radius: 0 !important
}

.round-1 {
  border-radius: 2px !important
}

.round-2 {
  border-radius: 4px !important
}

.round-3 {
  border-radius: 6px !important
}

.round-4 {
  border-radius: 8px !important
}

.round-5 {
  border-radius: 10px !important
}

.hover-0 {
  box-shadow: 0 !important;
}

.hover-1:hover {
  box-shadow: 0 2px 4px 3px #9fa8da !important
}

.hover-2:hover {
  box-shadow: 0 4px 8px 6px #9fa8da !important
}

.hover-3:hover {
  box-shadow: 0 6px 12px 9px #9fa8da !important
}

.hover-4:hover {
  box-shadow: 0 8px 16px 12px #9fa8da !important
}

.hover-5:hover {
  box-shadow: 0 10px 20px 15px #9fa8da !important
}

/* canvas */
.canvas-wrapper {
  position: relative;
  background-color: transparent !important
}

.canvas-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.canvas-wrapper .cta-wrapper {
  z-index: 1;
}

.alert .cta-wrapper {
  margin: 0 !important
}

.canvas-wrapper .tabs {
  background-color: transparent !important;
}

.progress canvas {
  width: 100%
}

/* text styles */
.justified {
  text-align: justify;
}

/* top navbar */
.topnav-fixed {
  position: fixed !important;
  z-index: 5;
}

.topnav-offset {
  top: 0;
  width: 100%;
  height: 64px
}

.topnav-offset-extended {
  top: 0;
  width: 100%;
  height: 112px
}

/* slider */
.slider {
  height:400px !important
}

.slider ul.indicators {
  z-index: 2;
  bottom: 25px;
}

/* tables */
table.gradient-primary-striped tr {
  border-bottom: none;
}

table.gradient-primary-striped>tbody>tr:nth-child(odd) {
  background: linear-gradient(30deg, rgba(213, 0, 249, 0.2) 0%, rgba(61, 90, 254, 0.2) 50%, rgba(0, 229, 255, 0.2) 100%);
}

table.gradient-primary-striped>tbody>tr>td {
  border-radius: 0;
}

table.gradient-dark-striped tr {
  border-bottom: none;
}

table.gradient-dark-striped>tbody>tr:nth-child(odd) {
  background: linear-gradient(30deg, rgba(207, 216, 220, 0.5) 0%, rgba(236, 239, 241, 0.5) 50%, rgba(250, 250, 250, 0.5) 100%);
}

table.gradient-dark-striped>tbody>tr>td {
  border-radius: 0;
}

table.gradient-dark-highlight>tbody>tr:hover {
  background: linear-gradient(30deg, rgba(207, 216, 220, 0.5) 0%, rgba(236, 239, 241, 0.5) 50%, rgba(250, 250, 250, 0.5) 100%);
}

/* animations and transitions */
.bounce-in {
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }
}

.roll-in {
  -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

.swirl-out {
  animation: swirl-out-bck 1s linear;
}

@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }
}

@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }

  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }
}

.bounce-out {
  -webkit-animation: bounce-out-top 1.5s both;
  animation: bounce-out-top 1.5s both;
}

@-webkit-keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  85% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0
  }
}

@keyframes bounce-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  5% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  15% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  25% {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  52% {
    -webkit-transform: translateY(-75px);
    transform: translateY(-75px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
  }

  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out
  }

  85% {
    opacity: 1
  }

  100% {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
    opacity: 0
  }
}

.focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0
  }

  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

.blur-out {
  -webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(.01);
    filter: blur(.01)
  }

  100% {
    -webkit-filter: blur(12px) opacity(0);
    filter: blur(12px) opacity(0)
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(.01);
    filter: blur(.01)
  }

  100% {
    -webkit-filter: blur(12px) opacity(0);
    filter: blur(12px) opacity(0);
  }
}

.vibrate {
  animation: vibrate 1s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }

  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px)
  }

  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px)
  }

  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px)
  }

  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px)
  }

  100% {
    -webkit-transform: translate(0);
    transform: translate(0)
  }
}

.bounce {
  animation: bouncy 2.5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  46% {
    top: -0.9em
  }

  52% {
    top: 0em
  }

  56% {
    top: -0.4em
  }

  60% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

.jello {
  -webkit-animation: jello-horizontal 2s infinite both;
  animation: jello-horizontal 2s infinite both;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  42% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  46% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  56% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  60% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  70% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  30% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  42% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }

  46% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }

  56% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }

  60% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }

  70% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

.swirl-in {
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1
  }
}

.slide-in {
  -webkit-animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation: slide-in-blurred-left 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    transform: translateX(-1000px) scaleX(2.5) scaleY(.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

.puff-in {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}

.slide-out {
  -webkit-animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@keyframes slide-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

.roll-out {
  -webkit-animation: roll-out-blurred-left 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
  animation: roll-out-blurred-left 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}

@-webkit-keyframes roll-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }
}

@keyframes roll-out-blurred-left {
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }

  100% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0
  }
}

.puff-out {
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0
  }
}

@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0
  }
}

.expand-out {
  -webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1
  }

  60% {
    opacity: .8
  }

  100% {
    letter-spacing: 1em;
    opacity: 0
  }
}

@keyframes tracking-out-expand {
  0% {
    opacity: 1
  }

  60% {
    opacity: .8
  }

  100% {
    letter-spacing: 1em;
    opacity: 0
  }
}

.contract-in {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0
  }

  40% {
    opacity: .6
  }

  100% {
    letter-spacing: normal;
    opacity: 1
  }
}
