html, body {
  font-family: 'Kalam', sans-serif;
  font-size: 17px;
  margin: 0;
  height: 100%
}

.center {
  text-align: center;
}

@media only screen and (min-width: 360px) {
  .flow-text {
    font-size: 1.2rem
  }
}

@media only screen and (min-width: 390px) {
  .flow-text {
    font-size: 1.224rem
  }
}

@media only screen and (min-width: 420px) {
  .flow-text {
    font-size: 1.248rem
  }
}

@media only screen and (min-width: 450px) {
  .flow-text {
    font-size: 1.272rem
  }
}

@media only screen and (min-width: 480px) {
  .flow-text {
    font-size: 1.296rem
  }
}

@media only screen and (min-width: 510px) {
  .flow-text {
    font-size: 1.32rem
  }
}

@media only screen and (min-width: 540px) {
  .flow-text {
    font-size: 1.344rem
  }
}

@media only screen and (min-width: 570px) {
  .flow-text {
    font-size: 1.368rem
  }
}

@media only screen and (min-width: 600px) {
  .flow-text {
    font-size: 1.392rem
  }
}

@media only screen and (min-width: 630px) {
  .flow-text {
    font-size: 1.416rem
  }
}

@media only screen and (min-width: 660px) {
  .flow-text {
    font-size: 1.44rem
  }
}

@media only screen and (min-width: 690px) {
  .flow-text {
    font-size: 1.464rem
  }
}

@media only screen and (min-width: 720px) {
  .flow-text {
    font-size: 1.488rem
  }
}

@media only screen and (min-width: 750px) {
  .flow-text {
    font-size: 1.512rem
  }
}

@media only screen and (min-width: 780px) {
  .flow-text {
    font-size: 1.536rem
  }
}

@media only screen and (min-width: 810px) {
  .flow-text {
    font-size: 1.56rem
  }
}

@media only screen and (min-width: 840px) {
  .flow-text {
    font-size: 1.584rem
  }
}

@media only screen and (min-width: 870px) {
  .flow-text {
    font-size: 1.608rem
  }
}

@media only screen and (min-width: 900px) {
  .flow-text {
    font-size: 1.632rem
  }
}

@media only screen and (min-width: 930px) {
  .flow-text {
    font-size: 1.656rem
  }
}

@media only screen and (min-width: 960px) {
  .flow-text {
    font-size: 1.68rem
  }
}

@media only screen and (max-width: 360px) {
  .flow-text {
    font-size: 1.2rem
  }
}

/* homepage */
.bgimg {
  /* background-image: src */
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage-name {
  display: block;
  box-sizing: inherit;
  text-align: center;
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 110%;
  margin: 2.8rem 0 1.68rem 0;
}

.display-container:hover .display-hover {
  display: block
}

.display-container:hover span.display-hover {
  display: inline-block
}

.display-middle {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

/* animations */
.bounce {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

.pulse {
  overflow: visible;
  position: relative
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}

/* cards */
.anchor-card {
  padding: 0;
  text-decoration: none;
}

.simple-card {
  transition: 0.3s;
  opacity: 0.80;
  width: 20vw;
  height: 8vw;
}

.simple-card-hover-off {
  opacity: 0.80;
  width: 20vw;
  height: 8vw;
}

.simple-card-name {
  color: black;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  text-decoration: none;
}

.simple-card:hover {
  box-shadow: 0 4px 8px 6px #9fa8da;
  opacity: 1;
}

/* dont use vw */
.image-card {
  transition: 0.3s;
  opacity: 0.85;
  padding-bottom: 25%;
  padding-top: 25%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.image-card-name {
  font-size: 35px;
  color: white;
  line-height: 0.5
}

.image-card:hover {
  box-shadow: 0 4px 8px 6px #9fa8da;
  opacity: 1;
}

.image-card-caption {
  color: white;
  text-align: center;
  line-height: 0.5
}

.card-container {
  margin: auto;
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* button */
a.btn-fills {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #2962ff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #2962ff;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills:hover {
  color: #FFFFFF;
  background-color: #2962ff;
}

a.btn-fills-red {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #f50057;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #f50057;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-red:hover {
  color: #FFFFFF;
  background-color: #f50057;
}

a.btn-fills-purple {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #d500f9;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #d500f9;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-purple:hover {
  color: #FFFFFF;
  background-color: #d500f9;
}

a.btn-fills-indigo {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #651fff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #651fff;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-indigo:hover {
  color: #FFFFFF;
  background-color: #651fff;
}

a.btn-fills-blue {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #2979ff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #2979ff;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-blue:hover {
  color: #FFFFFF;
  background-color: #2979ff;
}

a.btn-fills-lightblue {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #00b0ff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #00b0ff;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-lightblue:hover {
  color: #FFFFFF;
  background-color: #00b0ff;
}

a.btn-fills-cyan {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #00e5ff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #00e5ff;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-cyan:hover {
  color: #000000;
  background-color: #00e5ff;
}

a.btn-fills-teal {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #1de9b6;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #1de9b6;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-teal:hover {
  color: #000000;
  background-color: #1de9b6;
}

a.btn-fills-green {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #00e676;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #00e676;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-green:hover {
  color: #000000;
  background-color: #00e676;
}

a.btn-fills-lightgreen {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #76ff03;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #76ff03;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-lightgreen:hover {
  color: #000000;
  background-color: #76ff03;
}

a.btn-fills-lime {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #c6ff00;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #c6ff00;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-lime:hover {
  color: #000000;
  background-color: #c6ff00;
}

a.btn-fills-yellow {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffea00;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffea00;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-yellow:hover {
  color: #000000;
  background-color: #ffea00;
}

a.btn-fills-amber {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffc400;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffc400;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-amber:hover {
  color: #000000;
  background-color: #ffc400;
}

a.btn-fills-orange {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ff9100;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ff9100;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-orange:hover {
  color: #FFFFFF;
  background-color: #ff9100;
}

a.btn-fills-deeporange {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ff3d00;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ff3d00;
  text-align: center;
  transition: all 0.2s;
}

a.btn-fills-deeporange:hover {
  color: #FFFFFF;
  background-color: #ff3d00;
}

@media all and (max-width:30em) {
  a.btn-fills a.btn-fills-red a.btn-fills-purple a.btn-fills-indigo a.btn-fills-blue a.btn-fills-lightblue a.btn-fills-cyan a.btn-fills-teal a.btn-fills-green a.btn-fills-lightgreen a.btn-fills-lime a.btn-fills-yellow a.btn-fills-amber a.btn-fills-orange a.btn-fills-deeporange {
    display: block;
    margin: 0.4em auto;
  }
}

/* a.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 0.12em solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
} */
/*
a.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
  a.btn {
    display: block;
    margin: 0.4em auto;
  }
}

.btn .material-icons {
  margin-left: 10px;
  vertical-align: middle;
} */
/* top navbar (to come) */
/* bottom navbar */
.bottom-navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  box-sizing: inherit;
  text-align: center;
  opacity: 0.75
}

.bottom-navbar-wrapper:hover {
  opacity: 0.90
}

.bottom-navbar-wrapper canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bottom-navbar-wrapper .bottom-navbar-list a {
  display: inline-block;
  z-index: 1;
  text-decoration: none;
  color: #222;
}

.bottom-navbar-list {
  width: 100%;
  overflow: hidden;
  opacity: 0.7;
  padding: 8px 16px !important;
  position: static;
  float: left
}

.bottom-navbar-list .bottom-navbar-element {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  white-space: normal
}

.bottom-navbar-element {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: center;
  border: none;
  white-space: normal;
  float: none;
  outline: 0 opacity: 1;
  text-decoration: none;
  color: #ffffff !important;
}

.bottom-navbar-element:hover {
  color: #2962ff !important;
  background-color: #e3f2fd !important
}

/* alerts */
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  border-radius: .10rem;
}

.alert-heading {
  font-size: 20px;
  line-height: 0.5;
  color: inherit
}

.alert-link {
  font-weight: 700;
  text-decoration: none;
}

.alert-dismissible {
  padding-right: 4rem
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .75rem 1.25rem;
  color: inherit
}

.alert-primary {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(213, 0, 249, 0.8) 0%, rgba(61, 90, 254, 0.8) 50%, rgba(0, 229, 255, 0.8) 100%);
}

.alert-primary .alert-link {
  color: #ffffff
}

.alert-secondary {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(255, 23, 68, 0.7) 0%, rgba(213, 0, 249, 0.7) 50%, rgba(255, 145, 0, 0.7) 100%);
}

.alert-secondary .alert-link {
  color: #ffffff
}

.alert-tertiary {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(0, 229, 255, 1) 0%, rgba(0, 230, 118, 1) 50%, rgba(118, 255, 3, 1) 100%);
}

.alert-tertiary .alert-link {
  color: #ffffff
}

.alert-success {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(0, 191, 165, 1) 0%, rgba(118, 255, 3, 1) 100%);
}

.alert-success .alert-link {
  color: #ffffff
}

.alert-info {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(61, 90, 254, 0.88) 0%, rgba(41, 121, 255, 0.8) 50%, rgba(0, 229, 255, 0.8) 100%);
}

.alert-info .alert-link {
  color: #ffffff
}

.alert-warning {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(255, 61, 0, 0.9) 0%, rgba(255, 109, 0, 0.9) 50%, rgba(255, 171, 64, 0.9) 100%);
}

.alert-warning .alert-link {
  color: #ffffff
}

.alert-danger {
  color: #ffffff;
  background: linear-gradient(30deg, rgba(197, 17, 98, 0.9) 0%, rgba(255, 23, 68, 0.9) 50%, rgba(255, 61, 0, 0.9) 100%);
}

.alert-danger .alert-link {
  color: #ffffff
}

.alert-light {
  color: #607d8b;
  background-color: #fefefe;
}

.alert-light .alert-link {
  color: #607d8b
}

.alert-dark {
  color: #1b1e21;
  background: linear-gradient(30deg, rgba(207, 216, 220, 1) 0%, rgba(236, 239, 241, 1) 50%, rgba(250, 250, 250, 1) 100%);
}

.alert-dark .alert-link {
  color: #040505
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5
}

.close:hover {
  color: #000;
  text-decoration: none
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: .75
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0
}

a.close.disabled {
  pointer-events: none
}

/* breadcrumb */
/* .breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background: linear-gradient(30deg, rgba(213, 0, 249, 0.8) 0%, rgba(61, 90, 254, 0.8) 50%, rgba(0, 229, 255, 0.8) 100%);
  border-radius: .10rem
} */
.breadcrumb-item {
  display: -ms-flexbox;
  display: flex
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: .5rem
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #eceff1;
  content: ">"
}

.breadcrumb-item a {
  color: #eceff1;
  text-decoration: none;
}

.breadcrumb-item :hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #ffffff;
  font-weight: bolder;
}

/* modal */
.modal-open {
  overflow: hidden
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none
}

.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px)
}

@media (prefers-reduced-motion:reduce) {
  .modal.fade .modal-dialog {
    transition: none
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden
}

.modal-dialog-scrollable .modal-footer, .modal-dialog-scrollable .modal-header {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem)
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0
}

.modal-backdrop.show {
  opacity: .5
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px)
}

.modal-footer>* {
  margin: .25rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem)
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem)
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem)
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content
  }

  .modal-sm {
    max-width: 300px
  }
}

@media (min-width:992px) {
  .modal-lg, .modal-xl {
    max-width: 800px
  }
}

@media (min-width:1200px) {
  .modal-xl {
    max-width: 1140px
  }
}

/* carousel */
.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%
}

.carousel.carousel-slider {
  top: 0;
  left: 0
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0
}

.carousel .carousel-item>img {
  width: 100%
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%
}

.carousel .indicators .indicator-item.active {
  background-color: #fff
}

.carousel.scrolling .carousel-item .materialboxed, .carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none
}

/* previous works */
/* action button */
.add-button {
  position: absolute;
  width: 72px;
  height: 72px;
  overflow: visible;
  -webkit-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46),
    color 0s ease .4s, font-size .2s;
  -moz-transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46),
    color 0s ease .4s, font-size .2s;
  transition: transform .4s cubic-bezier(.58, -0.37, .45, 1.46),
    color 0s ease .4s, font-size .2s;
  text-align: center;
  line-height: 72px;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}

.add-button:before {
  position: relative;
  z-index: 100;
  content: 'options'
}

.add-button:hover {
  color: rgba(255, 255, 255, 0);
  transform: rotate(45deg);
}

.sub-button {
  position: absolute;
  display: inline-block;
  background-color: #304fff;
  color: rgba(255, 255, 255, 0);
  width: 36px;
  height: 36px;
  line-height: 56px;
  font-size: 12px;
  -webkit-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s ease .2s;
  -moz-transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s ease .2s;
  transition: top .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    left .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    bottom .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    right .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    width .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    height .2s cubic-bezier(.58, -0.37, .45, 1.46) .2s,
    transform .1s ease 0s,
    border-radius .2s ease .2s;
}

.tl {
  top: 0px;
  left: 0;
  border-radius: 36px 0 0 0;
}

.tr {
  top: 0;
  right: 0;
  border-radius: 0 36px 0 0;
}

.bl {
  bottom: 0;
  left: 0;
  border-radius: 0 0 0 36px;
}

.br {
  bottom: 0;
  right: 0;
  border-radius: 0 0 36px 0;
}

.add-button:hover .sub-button {
  width: 56px;
  height: 56px;
  transform: rotate(-45deg);
  color: rgba(255, 255, 255, 1);
  -webkit-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s ease .6s;
  -moz-transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s ease .6s;
  transition: top .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    left .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    bottom .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    right .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    width .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    height .4s cubic-bezier(.58, -0.37, .45, 1.46) .4s,
    color .3s ease .8s,
    transform .3s ease .8s,
    border-radius .4s ease .6s;
}

.add-button:hover .tl {
  background-color: #f50057;
  top: -25px;
  left: -25px;
  border-radius: 32px;
}

.add-button:hover .tr {
  background-color: #d500f9;
  top: -25px;
  right: -25px;
  border-radius: 32px;
}

.add-button:hover .bl {
  background-color: #00e575;
  bottom: -25px;
  left: -25px;
  border-radius: 32px;
}

.add-button:hover .br {
  background-color: #304fff;
  bottom: -25px;
  right: -25px;
  border-radius: 32px;
}

/* range slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #3d5afe;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 #8c9eff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3d5afe;
}

.range-wrap {
  width: 500px;
  position: relative;
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {
  width: 40px;
  height: 24px;
  line-height: 26px;
  text-align: center;
  background: #3d5afe;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50px;
}

.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #3d5afe;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

/* progress bar */
.progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #e8eaf6;
  border-radius: 2px;
  margin: 0;
  overflow: hidden
}

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #304ffe;
  -webkit-transition: width .3s linear;
  transition: width .3s linear
}

.progress .indeterminate {
  background-color: #304ffe
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s
}

progress {
  display: inline-block;
  vertical-align: baseline
}

.indeterminate {
  background-color: #304ffe
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite
}

.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%
  }

  60% {
    left: 100%;
    right: -90%
  }

  100% {
    left: 100%;
    right: -90%
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%
  }

  60% {
    left: 100%;
    right: -90%
  }

  100% {
    left: 100%;
    right: -90%
  }
}

/* pagination */
.pagination li {
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  vertical-align: top;
  height: 30px;
}

.pagination li a {
  color: #455a64;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  text-decoration: none
}

.pagination li.active a {
  color: #ffffff
}

.pagination li.active {
  background-color: #3d5afe
}

.pagination li.disabled a {
  cursor: default;
  color: #b0bec5
}

.pagination li i {
  font-size: 2rem
}

.pagination li.pages ul li {
  display: inline-block;
  float: none
}

@media only screen and (max-width: 992px) {
  .pagination {
    width: 100%
  }

  .pagination li.prev, .pagination li.next {
    width: 10%
  }

  .pagination li.pages {
    width: 80%;
    overflow: hidden;
    white-space: nowrap
  }
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  pointer-events: none
}

/* toast */
#toast-container {
  display: block;
  position: fixed;
  z-index: 10000
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 100%;
    bottom: 0%
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  #toast-container {
    left: 5%;
    bottom: 7%;
    max-width: 90%
  }
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 10%;
    right: 7%;
    max-width: 86%
  }
}

.toast {
  border-radius: 48px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  background-color: #323232;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default
}

.toast .toast-action-btn {
  color: #ffff00;
  font-size: 0.8rem;
  line-height: inherit;
  background: transparent;
  border: transparent;
  font-weight: 500;
  margin-left: 1rem
}

@media only screen and (max-width: 600px) {
  .toast {
    width: 100%;
    border-radius: 0
  }
}