<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- kalam font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">

  <!-- material icons stylesheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../css/custom.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/aries.css">
  <link rel="stylesheet" href="../css/materialize.css">
  <title>Aries homepage template</title>
</head>

<body>
  <ul id="dropdown1" class="dropdown-content gradient-secondary opacity-75 hover-opacity-off">
    <li><a class="white-text" href="#!">link 1</a></li>
    <li><a class="white-text" href="#!">link 2</a></li>
    <li><a class="white-text" href="#!">link 3</a></li>
  </ul>

  <nav role="navigation" id="topnav" class="transparent-bg z-depth-0 topnav-fixed canvas-wrapper">
    <canvas class="canvas-basic"></canvas>
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li>
          <a data-target="dropdown1" class="dropdown-trigger">
            <i class="material-icons right">arrow_drop_down</i>
            Links
          </a>
        </li>
        <li><a href="./aries-signup.html">Sign up</a></li>
        <li><a href="./aries-login.html"><i class="material-icons right">login</i>Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="fullscreen canvas-wrapper fade-in-anim" id="home-background">
    <canvas id="canvas-home"></canvas>
    <div class=" display-container">
      <div class="display-middle contract-in center white-text">
        <h1 class="homepage-name enter">Design 1</h1>
        <h3>Ariesse homepage template 1 :p</h3>
        <h5>Maybe some more description you wna add...</h5>
      </div>
    </div>
  </div>


  <div class="section-larger" id="home-content1">
    <div class="container">
      <h1 class="gradient-primary-text homepage-name">What is Ariesse</h1>
      <h4>Ariesse is a <b class="gradient-secondary-text">Functional</b>, <b class="gradient-secondary-text">Simplistic</b> and <b class="gradient-secondary-text">Elegant</b> theme based on <b class="gradient-tertiary-text">CSS</b> and <b
          class="gradient-tertiary-text">Javascript</b>. </h4>
      <div class="center section">
        <a href="./aries-signup.html" class=" btn-large waves-effect waves-light pink">
          Sign up now!!
        </a>
      </div>
    </div>
  </div>

  <div class="section-larger" id="home-content2">
    <div class="container  left-align">
      <h1 class="gradient-secondary-text homepage-name left-align">Why choose Ariesse</h1>
      <h4>Features </h4>
      <div class="section-large ">
        <div class="row">
          <div class="col s12 m4">
            <img class="materialboxed responsive-img opacity-half hover-opacity-off round-2" src="../images/signup-template.png" alt="Signup template">
          </div>
          <div class="col s12 m8 right-align">
            <h4>Simple yet elegant</h4>
            <h6>This is a cool feature about your product! It really separates you from the crowd.</h6>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m8">
            <h4>Simple yet elegant</h4>
            <h6>This is a cool feature about your product! It really separates you from the crowd.</h6>
          </div>
          <div class="col s12 m4">
            <img class="materialboxed responsive-img opacity-half hover-opacity-off round-2" src="../images/signup-template.png" alt="Signup template">
          </div>
        </div>
        <div class="row">
          <div class="col s12 m4">
            <img class="materialboxed responsive-img opacity-half hover-opacity-off round-2" src="../images/signup-template.png" alt="Signup template">
          </div>
          <div class="col s12 m8">
            <h4>Simple yet elegant</h4>
            <h6>This is a cool feature about your product! It really separates you from the crowd.</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section-larger" id="home-content3">
    <div class="container left-align">

      <div class="section-large">
        <h1 class="gradient-tertiary-text homepage-name right-align">Built for you!</h1>
        <div class="card-tabs">
          <ul id="card-tab" class="tabs tabs-fixed-width">
            <li class="tab gradient-primary-text"><a class="active" href="#test1" style="font-size:25px">Developer</a></li>
            <li class="tab gradient-secondary-text"><a href="#test2" style="font-size:25px">Client</a></li>
            <li class="tab gradient-tertiary-text"><a href="#test3" style="font-size:25px">Enterprize</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="test1" class="section">
            <div class="row">
              <h4 class="right-align">About the developer interface</h4>
              <div class="section">
                <h6 class="right-align" style="font-size:20px">Lorem ipsum dolor sit amet, consectetur <b class="gradient-primary-text">adipiscing</b> elit. Duis dolor lacus, luctus in lectus ut, dignissim cursus augue. In non nisi mi. Mauris
                  placerat
                  mauris ac tellus
                  faucibus, vel vestibulum justo tempus.</h6>
                <h6 class="right-align" style="font-size:20px">Nunc
                  quis pellentesque
                  lectus. In egestas arcu quis pulvinar viverra. Donec dictum tincidunt sem et iaculis. Integer tincidunt quam libero, a congue dui suscipit et. Nulla finibus faucibus egestas.
                </h6>
                <table class="gradient-primary-striped">
                  <thead>
                    <tr>
                      <th>Version</th>
                      <th>Features</th>
                      <th>Actions</th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>0.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#"><i class="material-icons center" style="vertical-align: bottom">download</i>Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td>2.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#" style="padding-right:10px"><i class="material-icons center" style="vertical-align: bottom">download</i>Download,</a>
                        <a href="#"><i class="material-icons center" style="vertical-align: bottom">share</i>share</a>
                      </td>
                    </tr>
                    <tr>
                      <td>3.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#"><i class="material-icons center" style="vertical-align: bottom">download</i>Download</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <div id="test2" class="row section">
            <div class="col s12 m8 no-padding">
              <h4 class="left-align">About the client interface</h4>
              <div class="section">
                <h6 class="left-align" style="font-size:20px">Lorem ipsum dolor sit amet, consectetur <b class="gradient-primary-text">adipiscing</b> elit. Duis dolor lacus, luctus in lectus ut, dignissim cursus augue. In non nisi mi. Mauris
                  placerat
                  mauris ac tellus
                  faucibus, vel vestibulum justo tempus.</h6>
                <h6 class="left-align" style="font-size:20px">Nunc
                  quis pellentesque
                  lectus. In egestas arcu quis pulvinar viverra. Donec dictum tincidunt sem et iaculis. Integer tincidunt quam libero, a congue dui suscipit et. Nulla finibus faucibus egestas.
                </h6>
                <div class="section">
                  <a class="waves-effect btn-large canvas-wrapper ">
                    <canvas class="canvas-basic"></canvas>
                    Download now!</a>
                </div>
              </div>
            </div>
            <div class="col s12 m4 ">
              <img class="materialboxed responsive-img opacity-half hover-opacity-off round-2" src="../images/signup-template.png" alt="Signup template">
            </div>
          </div>
          <div id="test3" class="section">
            <div class="row">
              <h4 class="right-align">About the enterprize interface</h4>
              <div class="section">
                <h6 class="right-align" style="font-size:20px">Lorem ipsum dolor sit amet, consectetur <b class="gradient-primary-text">adipiscing</b> elit. Duis dolor lacus, luctus in lectus ut, dignissim cursus augue. In non nisi mi. Mauris
                  placerat
                  mauris ac tellus
                  faucibus, vel vestibulum justo tempus.</h6>
                <h6 class="right-align" style="font-size:20px">Nunc
                  quis pellentesque
                  lectus. In egestas arcu quis pulvinar viverra. Donec dictum tincidunt sem et iaculis. Integer tincidunt quam libero, a congue dui suscipit et. Nulla finibus faucibus egestas.
                </h6>
                <table class="gradient-dark-highlight">
                  <thead>
                    <tr>
                      <th>Version</th>
                      <th>Features</th>
                      <th>Actions</th>

                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>0.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#"><i class="material-icons center" style="vertical-align: bottom">download</i>Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td>2.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#" style="padding-right:10px"><i class="material-icons center" style="vertical-align: bottom">download</i>Download</a>
                      </td>
                    </tr>
                    <tr>
                      <td>3.0.1</td>
                      <td>Interdum et malesuada fames ac ante ipsum primis in faucibus.</td>
                      <td><a href="#"><i class="material-icons center" style="vertical-align: bottom">download</i>Download</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer canvas-wrapper">
    <canvas class="canvas-basic"></canvas>
    <div class="cta-wrapper">
      <div class="container">
        <div class="row">
          <div class="col l8 s12">
            <h5 class="white-text">Ariesse</h5>
            <h6>Simplicity, clarity, versatility</h6>
          </div>

          <div class="col l4 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
              <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>, adapted from <a class="white-text text-lighten-3" href="https://materializecss.com" target="_blank">Materialize</a>
        </div>
      </div>
    </div>
  </footer>

  <ul id="nav-mobile" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background" style="background-image: url('../images/confetti-bg.jpg'); background-size:cover">
        </div>
        <a href="https://github.com/algebananazzzzz" target="_blank"><img class="circle" src="../images/castle-home.jpg"></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text name">Danielp's themes</span></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text email">Visit in github</span></a>
      </div>
    </li>
    <li><a class="waves-effect active" href="#!">Main page</a></li>
    <li><a class="waves-effect" href="#!">Quick start</a></li>
    <li><a class="waves-effect" href="docs.html">Documentation</a></li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/templates/aries-homepage.js" charset="utf-8"></script>

  <style media="screen">
    .bgimg {
      background-image: url("../images/aries-bg1.jpg");
    }
  </style>
</body>

</html>