<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- kalam font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">

  <!-- material icons stylesheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../css/custom.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/aries.css">
  <link rel="stylesheet" href="../css/materialize.css">
  <title>Aries homepage template</title>
</head>

<body>
  <nav role="navigation" id="topnav" class=" nav-extended topnav-fixed">
    <canvas class="canvas-basic"></canvas>

    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Name</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a data-target="dropdown1" class="dropdown-trigger">
            <i class="material-icons right">arrow_drop_down</i>
            Links
          </a>
        </li>
        <li><a href="./aries-signup.html">Sign up</a></li>
        <li><a href="./aries-login.html"><i class="material-icons right">login</i>Login</a></li>
      </ul>


      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <div class="nav-content container">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="aries.html">Home</a></li>
        <li class="tab"><a class="active" href="#">CSS</a></li>
        <li class="tab"><a href="aries-components.html">Components</a></li>
        <li class="tab"><a href="aries-javascript.html">Javascript</a></li>
        <li class="tab"><a href="aries-forms.html">Forms</a></li>
      </ul>
    </div>

  </nav>


  <ul id="dropdown1" class="dropdown-content gradient-secondary opacity-75 hover-opacity-off">
    <li><a class="white-text" href="#!">link 1</a></li>
    <li><a class="white-text" href="#!">link 2</a></li>
    <li><a class="white-text" href="#!">link 3</a></li>
  </ul>

  <div class=" parallax-container" style="height:inherit">
    <div class=" display-container">
      <div class="display-middle white-text">
        <h1 class="homepage-name contract-in enter">Name</h1>
        <h5 class="center">Ariesse homepage template :p</h5>
      </div>
    </div>
    <div class="parallax "> <img style="size:100%" src="../images/aries-bg1.jpg">
    </div>

  </div>



  <div class="slider">

    <ul class="slides">
      <i class="material-icons">left-arrow</i>
      <li>
        <img src="../images/aries-bg1.jpg">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li class="canvas-wrapper">
        <canvas class="canvas-basic"></canvas>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li class="gradient-primary">
        <div class="caption center-align ">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="../images/confetti-bg.jpg">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>

    </ul>
  </div>

  <div class="parallax-container">
    <div class="section ">
      <div class="container center">
        <br><br>
        <h1 class="header center white-text">Halfscreen scrollspy</h1>
        <div class="row center white-text">
          <h5 class="header col s12 light ">Some declarative captions</h5>
        </div>
        <div class="row center">
          <a href="./aries-signup.html" class="btn-large waves-effect waves-light pink">Sign up now!!</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../images/aries-bg1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="section-large  no-pad-bot canvas-wrapper">
    <canvas class="canvas-basic"></canvas>
    <div class="container">
      <div class="section white-text">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center "><i class="material-icons large">flash_on</i></h2>
              <h5 class="center">Simple yet elegant</h5>

              <p class="light justified">This theme is based on simplicity and take a minimalistic approach. I hope to create an aesthetically appealing, yet highly functional theme based on my own conception.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons large">group</i></h2>
              <h5 class="center">Appealing UI and UX</h5>

              <p class="light justified">My themes aim to incorporate components and animations that provide more feedback to users. Additionally, the adaptation from Materializecss allows me to create a familiar theme across all platforms allow
                for
                a
                more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center "><i class="material-icons large">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light justified">Detailed documentation, with plenty of examples to show you how you can utlize my themes in your website. Additionally, I made it compatible with other css and js libraries like granim.js and animate.css,
                commonly used by developers globally.</p>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="parallax-container" style="height:inherit">
    <div class="section no-pad-bot">
      <div class="container  center">
        <br><br>
        <h1 class="header center white-text">Fullscreen parallax</h1>
        <div class="row center white-text">
          <h5 class="header col s12 light ">Some declarative captions</h5>
        </div>
        <div class="row center">
          <a href="./aries-signup.html" class="btn-large waves-effect waves-light pink">Sign up now!!</a>
        </div>
        <div class="section white-text">

          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center "><i class="material-icons large">flash_on</i></h2>
                <h5 class="center">Simple yet elegant</h5>

                <p class="light justified">This theme is based on simplicity and take a minimalistic approach. I hope to create an aesthetically appealing, yet highly functional theme based on my own conception.
                </p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center"><i class="material-icons large">group</i></h2>
                <h5 class="center">Appealing UI and UX</h5>

                <p class="light justified">My themes aim to incorporate components and animations that provide more feedback to users. Additionally, the adaptation from Materializecss allows me to create a familiar theme across all platforms allow
                  for
                  a
                  more unified user experience.</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center "><i class="material-icons large">settings</i></h2>
                <h5 class="center">Easy to work with</h5>

                <p class="light justified">Detailed documentation, with plenty of examples to show you how you can utlize my themes in your website. Additionally, I made it compatible with other css and js libraries like granim.js and animate.css,
                  commonly used by developers globally.</p>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="parallax"><img src="../images/confetti-bg.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="section-large  no-pad-bot">
    <div class="container">
      <div class="section ">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center materialize-red-text"><i class="material-icons large">flash_on</i></h2>
              <h5 class="center">Simple yet elegant</h5>

              <p class="light justified">This theme is based on simplicity and take a minimalistic approach. I hope to create an aesthetically appealing, yet highly functional theme based on my own conception.
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center materialize-red-text"><i class="material-icons large">group</i></h2>
              <h5 class="center">Appealing UI and UX</h5>

              <p class="light justified">My themes aim to incorporate components and animations that provide more feedback to users. Additionally, the adaptation from Materializecss allows me to create a familiar theme across all platforms allow
                for
                a
                more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center materialize-red-text"><i class="material-icons large">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light justified">Detailed documentation, with plenty of examples to show you how you can utlize my themes in your website. Additionally, I made it compatible with other css and js libraries like granim.js and animate.css,
                commonly used by developers globally.</p>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <footer class="page-footer canvas-wrapper">
    <canvas class="canvas-basic"></canvas>
    <div class="cta-wrapper">
      <div class="container">
        <div class="row">
          <div class="col l8 s12">
            <h5 class="white-text">Ariesse</h5>
            <h6>Simplicity, clarity, versatility</h6>
          </div>

          <div class="col l4 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
              <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>, adapted from <a class="white-text text-lighten-3" href="https://materializecss.com" target="_blank">Materialize</a>
        </div>
      </div>
    </div>
  </footer>

  <ul id="nav-mobile" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background" style="background-image: url('../images/confetti-bg.jpg'); background-size:cover">
        </div>
        <a href="https://github.com/algebananazzzzz" target="_blank"><img class="circle" src="../images/castle-home.jpg"></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text name">Danielp's themes</span></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text email">Visit in github</span></a>
      </div>
    </li>
    <li><a class="waves-effect active" href="#!">Main page</a></li>
    <li><a class="waves-effect" href="#!">Quick start</a></li>
    <li><a class="waves-effect" href="docs.html">Documentation</a></li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/templates/aries-homepage.js" charset="utf-8"></script>

  <style media="screen">
    .bgimg {
      background-image: url("../images/aries-bg1.jpg");
    }
  </style>
</body>

</html>