<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- kalam font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">

  <!-- material icons stylesheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="../css/custom.css">
  <link rel="stylesheet" href="../css/master.css">
  <link rel="stylesheet" href="../css/aries.css">
  <link rel="stylesheet" href="../css/materialize.css">
  <title>Aries homepage template</title>
</head>

<body>
  <nav role="navigation" id="topnav" class=" nav-extended topnav-fixed">
    <canvas class="canvas-basic"></canvas>

    <div class="nav-wrapper container"><a id="logo-container" href="index.html" class="brand-logo">Name</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a data-target="dropdown1" class="dropdown-trigger">
            <i class="material-icons right">arrow_drop_down</i>
            Links
          </a>
        </li>
        <li><a href="./aries-signup.html">Sign up</a></li>
        <li><a href="./aries-login.html"><i class="material-icons right">login</i>Login</a></li>
      </ul>


      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <div class="nav-content container">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="aries.html">Home</a></li>
        <li class="tab"><a class="active" href="#">CSS</a></li>
        <li class="tab"><a href="aries-components.html">Components</a></li>
        <li class="tab"><a href="aries-javascript.html">Javascript</a></li>
        <li class="tab"><a href="aries-forms.html">Forms</a></li>
      </ul>
    </div>

  </nav>

  <div class="topnav-offset-extended">

  </div>

  <ul id="dropdown1" class="dropdown-content gradient-secondary opacity-75 hover-opacity-off">
    <li><a class="white-text" href="#!">link 1</a></li>
    <li><a class="white-text" href="#!">link 2</a></li>
    <li><a class="white-text" href="#!">link 3</a></li>
  </ul>



  <footer class="page-footer canvas-wrapper">
    <canvas class="canvas-basic"></canvas>
    <div class="cta-wrapper">
      <div class="container">
        <div class="row">
          <div class="col l8 s12">
            <h5 class="white-text">Ariesse</h5>
            <h6>Simplicity, clarity, versatility</h6>
          </div>

          <div class="col l4 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="https://github.com/algebananazzzzz" target="_blank">Github</a></li>
              <li><a class="white-text" href="https://mail.google.com/mail/?view=cm&fs=1&to=danielp-devs@gmail.com" target="_blank">Email (No spams please)</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="white-text text-lighten-3" href="https://github.com/algebananazzzzz" target="_blank">algebananazzzzz</a>, adapted from <a class="white-text text-lighten-3" href="https://materializecss.com" target="_blank">Materialize</a>
        </div>
      </div>
    </div>
  </footer>

  <ul id="nav-mobile" class="sidenav">
    <li>
      <div class="user-view">
        <div class="background" style="background-image: url('../images/confetti-bg.jpg'); background-size:cover">
        </div>
        <a href="https://github.com/algebananazzzzz" target="_blank"><img class="circle" src="../images/castle-home.jpg"></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text name">Danielp's themes</span></a>
        <a href="https://github.com/algebananazzzzz" target="_blank"><span class="white-text email">Visit in github</span></a>
      </div>
    </li>
    <li><a class="waves-effect active" href="#!">Main page</a></li>
    <li><a class="waves-effect" href="#!">Quick start</a></li>
    <li><a class="waves-effect" href="docs.html">Documentation</a></li>
  </ul>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/templates/aries-homepage.js" charset="utf-8"></script>

  <style media="screen">
    .bgimg {
      background-image: url("../images/castle-home.jpg");
    }
  </style>
</body>

</html>